
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inde</title>
</head>
<body>
    <div> 
        <b>
            <h1>
                welcome ur sucesfull
            </h1>
        </b>
    </div>
</body>
</html>
