
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <b>index3</b>
        <h1>
            value - @ViewBag.vikas
        </h1>
    </div>
</body>
</html>
