@model IEnumerable<COnt.Models.Address>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partial</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            // @Html.Partial("_PartialView",item)
            Html.RenderPartial("_PartialView", item);
        }
    </div>
</body>
</html>
