
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        <title>Home hai bhaiyaa aur AboutUS Action<b>HIHIHi!!</b></title>
    </title>
</head>
<body>
    <div>
        <b>
            Home hai bhaiyaa aur AboutUs Action<b>HIHIHi!!</b>
        </b>
    </div>
</body>
</html>
