
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>fuck Yeah</title>
</head>
<body>
    <div>
        <b>
            Home hai bhaiyaa aur fuck Action<b>HIHIHi!!</b>
        </b>
    </div>
</body>
</html>
