
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (var item in ViewBag.Tsuande)
            {
                <p>@item</p>
            }
        </ul>
    </div>
</body>
</html>
