
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout1</title>
</head>
<body>
    <header style="height:100px ; background-color:white">
        @RenderSection("vikas", required: false)

    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="height:100px ; background-color:red"></footer>
    Name - 
    @RenderSection("vik", required: false)
  
</body>
</html>
