@model COnt.Models.Address

<div class="row" style="border:dashed">
    Road- @Model.AddressRoad <br />
    City- @Model.City <br />
    
</div>
<div class="d" style="border-left-color: blue">
    State- @Model.State
</div>