
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomError</title>
</head>
<body>
    <div>
        <h2 style="background-color:crimson">Custom Page</h2><br />
        <h1>OOPs Something Went Wrong :(</h1>

    </div>
</body>
</html>
