
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h2>Error Page</h2><br />
        <h1>OOPs Something Went Wrong :(</h1>
    </div>
</body>
</html>
