
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section vik
{
    <h1>vikas Pandey hihihuhhuuh</h1>
}
<h2>Index</h2>
@section vikas
{
    <h1>vikas kumar Pandey</h1>
    @DateTime.Now
}